<div id="swagger-ui"></div>
<script src="{{ "swagger-ui/swagger-ui-bundle.js" | relURL }}"></script>
<script src="{{ "swagger-ui/swagger-ui-standalone-preset.js" | relURL }}"></script>
<script>
window.onload = function() {
  SwaggerUIBundle({
    url: "{{ with .Get "url" }}{{ . }}{{ else }}{{ "openapi/openapi.yaml" | relURL }}{{ end }}",
    dom_id: '#swagger-ui',
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout",
    defaultModelsExpandDepth: 2,
    defaultModelExpandDepth: 2,
    docExpansion: "list",
    filter: true,
    showExtensions: true,
    showCommonExtensions: true,
    tryItOutEnabled: false
  });
};
</script>
